.index-images {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  border: 2px solid #ccc; /* Light grey border */
}

.recipie-names {
  color: #3E2723;
}


* {
  background-color: #FFF8E7;
}

#header {
  color: #333333;
}
